<h1>Componentes Angular</h1>

<h2>{{nombre}}</h2>
<p>{{descipcion}}</p>
<p>De marca {{marca}}</p>
<strong>${{precio}} USD</strong>
<br />
<br />
<button (click)="cambiarNombre()">Cambiar nombre del producto</button>
<br />
<br />
@if (mostrarPelicula) {
    <button (click)="ocultarComponentePelicula()">Ocultar componente de película</button>
} @else {
    <button (click)="mostrarComponentePelicula()">Mostrar componente de película</button>
}
<br />

@if(mostrarPelicula){
    <app-pelicula></app-pelicula>
}

