a {
    background-color: orange;
    color: black;
    padding: 15px;
}

.activo {
    background-color: blue;
    color: white;
    padding: 15px;
}

.grande {
  font-size: 30px;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 10px;
  display: inline-block;
}

.pequeno {
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 10px;
  display: inline-block;
}

.aprobado {
  color: green;
  padding: 10px;
  font-weight: bold;
}

.pendiente {
  color: red;
  padding: 10px;
  font-weight: bold;
}