<h1>Préstamos</h1>

<p>
  <a 
    [href]="web"
    [class.activo]="redirigir"
    [ngClass]="redirigir ? 'grande' : 'pequeno'"
    [ngStyle]="{
      'color': redirigir ? 'green' : 'gray',
      'font-size': redirigir ? '20px' : '14px',
      'text-decoration': redirigir ? 'underline' : 'none'
    }"
    target="_blank"
  >
    Ir a mi web
  </a>
</p>

<button (click)="cambiarRedirigir()">Cambiar</button>

@if (redirigir) {
<p>{{"¡El enlace funciona correctamente!" |cambiaLetrasASCI}}</p>
} @else {
<p>Lo sentimos, el enlace no está disponible</p>
}

<h2>Estado Préstamos</h2>

<ul>
  @for (prestamo of prestamosList; track $index; let index = $index) {
  <li>
    <b>Monto:</b> {{prestamo.monto | currency:'USD':'symbol':'1.0-0'}} -
    <b>Estado:</b>
    <span [ngClass]="{
              'aprobado': prestamo.estado === 'Aprobado',
              'pendiente': prestamo.estado === 'Pendiente'
        }">
      {{prestamo.estado | uppercase}}
    </span>
    <br>
    <b>Fecha:</b> {{prestamo.fecha | date:'longDate'}}
    <button (click)="eliminarPrestamo(index)">Eliminar Préstamo</button>
    <button (click)="agregarPrestamo()">Agregar Préstamo</button>
  </li>
  }
</ul>

<h2>Detalles del Préstamo</h2>
@switch (prestamo.tipo) {
@case (TipoPrestamo.Personal) {
<p>Préstamo de tipo <b>{{prestamo.tipo | titlecase}}</b></p>
}
@case (TipoPrestamo.Hipotecario) {
<p>Préstamo de tipo <b>{{prestamo.tipo | titlecase}}</b></p>
}
@case (TipoPrestamo.Vehicular) {
<p>Préstamo de tipo <b>{{prestamo.tipo | titlecase}}</b></p>
}
@default {
<p>Préstamo no reconocido</p>
}
}

<h3>Información adicional</h3>
<p>Interés aplicado: {{prestamo.interes | percent:'1.1-2'}}</p>
<p>{{fecha | date: "dd/MM/yyyy"}}</p>