<h1>Préstamos</h1>

<p>
  <a [href]="web" [class.activo]="redirigir" [ngClass]="redirigir ? 'grande' : 'pequeno'" target="_blank">
    Ir a mi web
  </a>
</p>

<button (click)="cambiarRedirigir()">Cambiar</button>

@if (redirigir) {
<p>¡El enlace funciona correctamente!</p>
} @else {
<p>Lo sentimos el enlace no está disponible</p>
}

<h2>Estado Préstamos</h2>

<ul>
  @for (prestamo of prestamosList; track $index) {
  <li>
    {{prestamo.monto}} -
    <span [ngClass]="{
            'aprobado': prestamo.estado === 'Aprobado',
            'pendiente': prestamo.estado === 'Pendiente'
      }">
      {{prestamo.estado}}
    </span>
  </li>
  }
</ul>


<h2>Detalles del Préstamo</h2>
@switch (prestamo.tipo) {
  @case (TipoPrestamo.Personal) {
    <p>Préstamo de tipo Personal</p>
  }
  @case (TipoPrestamo.Hipotecario) {
    <p>Préstamo de tipo Hipotecario</p>
  }
  @case (TipoPrestamo.Vehicular) {
    <p>Préstamo de tipo Vehicular</p>
  }
  @default {
    <p>Préstamo no reconocido</p>
  }
}