.resaltar {
    background-color: yellow;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.destacarMenos {
    background-color: gray;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
}